# Vigilance Bulletin

This tutorial will help you access the vigilance bulletin

For more documentation, click [here](https://donneespubliques.meteofrance.fr/?fond=produit&id_produit=305&id_rubrique=50).

Contents:

- Init Vigilance Class
- Access Data

In [2]:
import os

import pandas as pd

from meteole import Vigilance

# Init Vigilance Class

**Requirements notice** : TODO Link to the documentation to have application_id

In [3]:
# load application_id from .env
from dotenv import load_dotenv

load_dotenv()
application_id = os.getenv("APPLICATION_ID", None)

In [11]:
client = Vigilance(application_id=application_id)

# Collect Forecasted phenomenon

Collect vigilance data from Météo France, including the forecasted phenomenon in df_phenomenon and the maximum intensity for each zone in df_timelaps

In [17]:
df_phenomenon, df_timelaps = client.get_phenomenon()

In [18]:
df_phenomenon.head()

,phenomenon_id,any_color_count,phenomenon_counts,echeance,phenomenon_libelle
0,4,2,"[{'color_id': 2, 'color_name': 'Jaune', 'count...",J,crues
1,8,5,"[{'color_id': 2, 'color_name': 'Jaune', 'count...",J,avalanches
2,1,5,"[{'color_id': 2, 'color_name': 'Jaune', 'count...",J1,vent
3,4,2,"[{'color_id': 2, 'color_name': 'Jaune', 'count...",J1,crues
4,9,2,"[{'color_id': 2, 'color_name': 'Jaune', 'count...",J1,vagues submersion

In [19]:
df_timelaps.head()

,domain_id,max_color_id,phenomenon_items,echeance
0,10,1,"[{'phenomenon_id': '1', 'phenomenon_max_color_...",J
1,11,1,"[{'phenomenon_id': '1', 'phenomenon_max_color_...",J
2,12,1,"[{'phenomenon_id': '1', 'phenomenon_max_color_...",J
3,13,1,"[{'phenomenon_id': '1', 'phenomenon_max_color_...",J
4,14,1,"[{'phenomenon_id': '1', 'phenomenon_max_color_...",J

# Collect text of monitoring bulletins

Contains the text of monitoring bulletins, whether national, zonal (in the sense of defense zones) or departmental. It is issued in addition to the Vigilance card, when the meteorological situation so requires (systematically in Vigilance Orange and Red, when necessary in Vigilance Yellow).

In [20]:
textes_vigilance = client.get_textes_vigilance()

missing data
Unexpected error: {"detail":"no matching blob"}

In [21]:
test_texte = pd.json_normalize(textes_vigilance)

In [ ]:
df_text_bloc_items = pd.json_normalize(test_texte["product.text_bloc_items"].explode())

In [ ]:
df_text_bloc_items.head(10)

# Map display

In [ ]:
client.get_vignette()