# AROME

In [2]:
import os
import random
import dotenv
from meteole import AromeForecast, raster

dotenv.load_dotenv()

application_id = os.getenv("APPLICATION_ID")

In [4]:
# init client
arome = AromeForecast(application_id=application_id)

Fetching all available coverages...

	 Successfully fetched 1870 coverages,
	 representing 19 different indicators,
	 across the last 34 runs (from 2024-12-07T00.00.00Z to 2024-12-11T03.00.00Z).

	 Default run for `get_coverage`: 2024-12-11T03.00.00Z)

In [59]:
# pick a random indicator

random_indicator = random.choice(arome.indicators)
print(f"Indicator: {random_indicator}")

Indicator: RELATIVE_HUMIDITY__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND

In [60]:
# fetch data using default computed params
arome.get_coverage(random_indicator)

Using latest `run=2024-12-07T00.00.00Z`.
Using `heights=[2]` (height above ground)

         latitude  longitude        run forecast_horizon         r2
0           51.08      -5.14 2024-12-07  1 days 10:00:00  66.675995
1           51.08      -5.13 2024-12-07  1 days 10:00:00  66.769745
2           51.08      -5.12 2024-12-07  1 days 10:00:00  66.863495
3           51.08      -5.11 2024-12-07  1 days 10:00:00  66.925995
4           51.08      -5.10 2024-12-07  1 days 10:00:00  66.957245
...           ...        ...        ...              ...        ...
1434220     41.34       9.52 2024-12-07  1 days 10:00:00  66.644745
1434221     41.34       9.53 2024-12-07  1 days 10:00:00  66.644745
1434222     41.34       9.54 2024-12-07  1 days 10:00:00  66.300995
1434223     41.34       9.55 2024-12-07  1 days 10:00:00  65.894745
1434224     41.34       9.56 2024-12-07  1 days 10:00:00  65.488495

[1434225 rows x 5 columns]